{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Home</h1>
{% for view, args in pages %}
<a href="{{ url_for(view, **args) }}">{{ args['page'] }}</a>

<h1>Accelerometer Data Visualization</h1>
<canvas id="accelerometerChart" width="800" height="400"></canvas>

<script>
    // JavaScript code to fetch and update data using AJAX
    // Initialize Chart.js
    var ctx = document.getElementById('accelerometerChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [], // Use timestamps as labels
            datasets: [
                {
                    label: 'X-Axis',
                    data: [],
                    borderColor: 'rgba(255, 0, 0, 0.8)',
                    fill: false
                },
                {
                    label: 'Y-Axis',
                    data: [],
                    borderColor: 'rgba(0, 255, 0, 0.8)',
                    fill: false
                },
                {
                    label: 'Z-Axis',
                    data: [],
                    borderColor: 'rgba(0, 0, 255, 0.8)',
                    fill: false
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    type: 'linear',
                    position: 'bottom'
                }
            }
        }
    });

    // Function to update chart data
    function updateChartData() {
        // Make an AJAX request to fetch data from ThingSpeak
        // Parse the data and update the chart
        // Use setTimeout to periodically update the chart
        // You will need to implement this part of the code.
    }

    // Call updateChartData to start updating the chart
    updateChartData();
</script>

{% endfor %}
{% endblock %}
